.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 12px;
  width: 450px;
  border: 6px solid transparent;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  animation: border-pulse 3s infinite;
  transition: border-color 0.3s ease;
  position: relative;
}

.border-active {
  border-color: var(--active-border-color);
}

.color-selection {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.color-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.color-button:hover {
  transform: scale(1.2);
}

.color-button.active {
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.6);
}

.location-info {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.save-button {
  background-color: #007BFF;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.close-button {
  background-color: #6C757D;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.popup {
  position: fixed;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 14px;
  z-index: 1100;
  animation: fade-in 0.3s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes border-pulse {
  0%, 100% {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  50% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  }
}
